h1{
  font-size: 3rem !important;
}

h2{

}

h3{
  font-size: 2rem !important;
}

h4{
  font-size: 2rem !important;
}

.field-size{
  font-size: 1.2rem;
}

@font-face {
  font-family: 'all Round Gothic';
  src: url(../../assets/fonts/AllRoundGothic/AllRoundGothic-Medium.ttf);
}
