<section class="flex justify-center items-center flex-col">
  <div class="grid gap-12 mt-12 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
    <!-- Caja de proyecto -->
    <mat-card class="w-72 h-72 relative hover:scale-105 !rounded-lg flex flex-col justify-center shadowBorder effectTrigger border-none hover:border hover:border-angel-green shadow-border cursor-pointer components-bg" *ngFor="let project of projects" (click)="openDetail(project)">
      <div class="h-5/6 flex items-center justify-center flex-col">
        <!-- Título de proyecto -->
        <mat-card-header class="flex-centered">
          <mat-card-title>{{project.title}}</mat-card-title>
        </mat-card-header>
        <!-- Imagen descriptiva -->
        <mat-card-content class="p-0 my-4 h-2/4">
          <img class="w-full h-full" mat-card-image [src]="project.img" alt="Photo of a Shiba Inu">
        </mat-card-content>
        <!-- Botón -->
        <mat-card-actions class="flex-centered">
          <button class="w-full border border-solid border-transparent p-2 focus:border-angel-green text-white rounded">Ver más</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</section>
