<section class="flex flex-col-reverse sm:flex-row justify-center w-full">
  <div class="title-container flex flex-col items-center sm:items-start justify-center">
    <h1 class="text-center sm:text-start">
      Gabriel Carreño
    </h1>
    <h5 class="uppercase text-angel-green">Programador frontend</h5>
  </div>
  <div class="banner-container flex justify-center">
    <img class="w-5/6 sm:w-full h-full" src="assets/iconos/version_oscura/banner_inicio_version_oscura.svg" alt="">
  </div>
</section>