

<main class="mat-app-background relative">
  <!-- Navbar -->
  <cool-navbar [navItems]="navItems" [currentScrollSection]="currentScrollSection" (themeSelected)="applyTheme($event)"></cool-navbar>
  <!-- Contenido principal -->
  <div class="h-[calc(100vh - 4rem)]">
    <cool-start-view id="Inicio" class="flex-centered container "></cool-start-view>
    <cool-projects id="Proyectos" class="flex-centered container "></cool-projects>
    <cool-skills id="Tecnologías" class="flex-centered container "></cool-skills>
    <cool-contact id="Contacto" class="flex-centered container "></cool-contact>
  </div>
</main>
