<form class="flex justify-center flex-col w-full items-center p-0"  [formGroup]="contactForm">
  <h3 class="text-center">¡Contáctame!</h3>

  <!-- Los formcontrols -->
  <div class="form-field">
    <label class="cool-label">
      Nombre
    </label>
    <input class="p-0" coolInput type="text" placeholder="Gabriel Carreño" formControlName="name" style="padding: 0;">
  </div>
  <div class="form-field">
    <label class="cool-label">
      Correo electrónico
    </label>
    <input class="p-0" coolInput type="text" placeholder="gabrieljose.cz21@gmail.com" formControlName="email" style="padding: 0;">
  </div>
  <button [ngClass]="theme.classBorder + '' + theme.textContrastColor" class="sm:w-4/12 w-6/12 border border-solid mt-8 p-2 active:border-angel-green active:text-angel-green rounded"  (click)="onSubmit()">
    Enviar
  </button>
</form>
