<section class="relative m-auto components-bg h-full w-full p-6">


  <!-- Botón de cerrar -->
  <div class="w-full flex justify-end items-center p-2 cursor-pointer" (click)="close()">
    <mat-icon [ngClass]="theme.name == 'Light'?'text-black':'text-white'">clear</mat-icon>
  </div>

  <div class="w-full flex justify-center items-center gap-3 mt-2">
    <img *ngIf="data.techImageUrlLight && data.techImageUrlDark" loading="lazy" class="w-6 h-6"
      [src]="theme.name == 'Light'? data.techImageUrlLight:data.techImageUrlDark" />
    <h4 class="text-center !font-bold flex">
      {{data.title}}
    </h4>
  </div>

  <!-- Contenido principal -->
  <div class="pb-3">
    <div class="flex flex-col  items-center justify-center w-full h-full m-0 px-4">
      <!-- Imagen del diálogo -->
      <div class="flex justify-center w-full py-4 max-h-60 h-60">
        <img loading="lazy" class="h-full max-h-full" [src]="theme.name == 'Light'? data.imgLight:data.imgDark" />
      </div>
      <!-- Texto del diálogo, descripción -->
      <div class="w-full px-3 h-full flex p-0 flex-col justify-between items-center"
        [ngClass]="data.zelda?'items-stretch justify-between':'items-center justify-center'">
        <p class="my-3 text-center" [ngClass]="theme.name == 'Light'?'text-black':'text-white'">
          {{data.description}}
        </p>
        <!-- Enlace a otro sitio web, en caso de que haya -->
        <a *ngIf="data.zelda" class="break-all mt-1 text-center" href="{{data.zelda}}" target="_blank"
          style="font-weight: 600">
          <span>Mira esto 😎: </span>
          <span class="text-cyan-600">{{data.zelda}}</span>
        </a>
      </div>
    </div>

  </div>

</section>